body {font-size:14px;font-family: Verdana,Arial,'宋体';}
h4{margin:0 0 10px 0;}
table.category{border:0;background:#ccc;margin:0 0 20px 0;width:700px;}
table.category tr td.header{background:#ccc;}
table.category tr td{background:#fff;padding:5px;cursor:pointer;text-align:center;}
table.category tr td.on{background:#ddd;}
table.category tr td a{padding:0 3px;}
div.list{width:720px;float:left;}
div.form{float:left;}
div.box{border:1px #ccc solid;padding:15px;width:500px;}
label.title{color:#000;font-weight:bold;}
span.time{float:right;font-size:13px;}
span.cnt{display:block;font-size:13px;padding:20px 0 10px; border-bottom:1px dotted #ccc;}
span.item{display:block;margin:0 0 15px 10px;}
input.txt{width:260px;}
input.txt40{width:40px;}
label.desc{vertical-align:top;}