@using XFramework.Entity;
@{IList<CategoryEntity> categoryList = Model;}
@foreach (var item in categoryList.Where(x => x.ParentID == 0).OrderBy(x => x.OrderID))
{
    <h3>@item.CategoryName</h3>
    <ul>
        @foreach (var sub in categoryList.Where(x => x.ParentID == item.CategoryID).OrderBy(x => x.OrderID))
        {
            <li><a href="/home/list?category=@sub.CategoryID" title="@sub.CategoryDesc">@sub.CategoryName</a></li>
        }
    </ul>
}
<script>
    $(function () {
        $('.left').children('h3:first').addClass('select').end().children('ul:first').show();
        $('.left h3').click(function () {
            if (!$(this).is('ul:visible')) {
                $(this).addClass('select')
                .siblings('h3').removeClass('select').end()
                .siblings('ul').hide().end()
                .next().show();
            }
        });
    });
</script>
