@{
    ViewBag.Title = "Home";
}
<div class="main">
    <div class="logo">
       <span>XFramework</span>
    </div>
</div>
<div class="main">
    <div class="left">
        <h3>XFramework</h3>
        <ul>
            <li><a href="javascript:void(0)">Lib</a></li>
            <li><a href="javascript:void(0)">Caching</a></li>
            <li><a href="javascript:void(0)">Compress</a></li>
            <li><a href="javascript:void(0)">Data</a></li>
            <li><a href="javascript:void(0)">Entity</a></li>
            <li><a href="javascript:void(0)">Log</a></li>
            <li><a href="javascript:void(0)">Safe</a></li>
            <li><a href="javascript:void(0)">Util</a></li>
        </ul>
        <h3>C#</h3>
        <h3>DataBase</h3>
        <h3>Javascript</h3>
        <h3>Css</h3>
    </div>
    <div class="right">
    </div>
</div>