@using XFramework.Entity;
@{
    ViewBag.Title = "List";
}
@section  Head
{
    <link type="text/css" href="/css/page.css" rel="stylesheet" />
}
<div class="main">
    <div class="logo">
        <span>XFramework</span>
    </div>
</div>
<div class="main">
    <div class="left">
        @Html.Action("left")
    </div>
    <div class="right">     
        <p> XFramework自定义公共类</p>

        <div class="pagelist">
            @Html.Raw(ViewBag.PageHtml)
        </div>
    </div>
</div>
