@{
    ViewBag.Title = "List";
}
<div class="main">
    <div class="logo">
        <span>XFramework</span>
    </div>
</div>
<div class="main">
    <div class="left">
        @Html.Action("left")
    </div>
    <div class="right">     
        <p> XFramework自定义公共类</p>
    </div>
</div>
